@model PortifolioMVC.Models.Aula;


@{
    ViewData["Title"] = "Cadastro Video Aula";
}
<section class="contato">
      <div class="container">
          <form asp-action="Cadastro" method="POST" >
              <div class="row">
                  <div class="col-lg-4 col-md-4 col-sm-12">
                    <h1>Cadastro de Video Aula</h1>
                     <h3>Cadastre seu Portifolio em video aula</h3>
                     <p id="pMensagem">@ViewBag.Mensagem</p>
                  </div>
                  <div class="col-lg-8 col-md-8 col-sm-12 right">
                     <div class="form-group">
                       <input asp-for="Nome" type="text" class="form-control form-control-lg" placeholder="Titulo do Video" name="Nome" required>
                     </div>
                     <div class="form-group">
                       <input asp-for="ImagemUrl" type="text" class="form-control form-control-lg" placeholder="Digite a URL da imagem do Video" name="ImagemUrl">
                     </div>

                      <div class="form-group">
                       <input asp-for="VideoUrl" type="text" class="form-control form-control-lg" placeholder="Digite a URL do Video" name="VideoUrl">
                     </div>

                     <div class="form-group">
                       <input asp-for="Duracao" type="number" class="form-control form-control-lg" placeholder="Digite Duracção do Video" name="Duracao" required>
                     </div>

                     <div class="form-group">
                       <input asp-for="Preco" type="number" class="form-control form-control-lg" placeholder="Digite o Preço do Video" name="Preco" required>
                     </div>
                     
                     <input type="submit" class="btn btn-primary  " value="Cadastrar Video">

                  </div>
              </div>
          </form>
      </div>
  </section>
