@{
    ViewData["Title"] = "Portifolio";
}

<section class="sobre">
    <div class="container">
        <h1>Thiago Alves:</h1>
        <div class="row">
            <div class="col-md-3">
                <img src="https://avatars2.githubusercontent.com/u/39628806?s=460&u=6d8a7db5029545fc03d12cf6623d41eca5cd4b3e&v=4" class="img-fluid" />
            </div>
            <div class="col-md-9 desc d-flex align-items-center ">
                <ul>
                    <li>Programador</li>
                    <li>Programador FullStack, trabalha na Gft, colaborador da <a href="https://www.gft.com/br/pt/index/" target="_blank">GFT</a></li>
                    <li>Mauris pulvinar posuere odio at dignissim</li>
                    <li>Etiam dictum orci et justo accumsan vestibulum.</li>
                </ul>
            </div>
        </div>
    </div>
  </section>



