@model PortifolioMVC.Models.Usuario
@{
    ViewData["Title"] = "Login";
}
<h2>Login</h2>
<p>Entre com usuario admin</p>
<p id="pMensagem">@ViewBag.Mensagem</p>
<form asp-action="Login" method="POST">
    <p>
        <label asp-for="login">Login:</label>
        <input asp-for="login" />
    </p>
    <p>
        <label asp-for="senha">Senha:</label>
        <input asp-for="senha" type="password" />
    </p>
    <p>
        <input type="submit" value="Entrar" />
    </p>
</form>